:root {
  --primary-color: #ff9854;

  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px !important; */
  --van-search-left-icon-color:var(--primary-color)
}

body {
  font-size: 14px;
}

/* .page-top {
  height: 100vh;
  position: relative;
  z-index: 999;
  overflow-y: hidden;
  background-color: #fff;
} */